
@{
    ViewBag.Title = "About";
}
<body class="cms-bg-main-light">

    <div class="container-fluid cms-bg-dark Home-About-div">

        <img src="~/Content/images/theater.jpg" class="img-fluid" alt="Theater">
        <h2 class="Home-About-h2">About Us</h2>
        <p class="text-center Home-About-p"><strong>WHO WE ARE</strong></p>
        <p class="text-center">We seek to engage audiences through compelling, ensemble-driven<br />productions<br />with a focus on developing new works.</p>
    </div>
    <div>
        <p class="text-center">
            In 1997, Theatre Vertigo was founded by Paul Floding, Nanette Pettit and Jeff Meyers.<br />
            Since then, Theatre Vertigo has performed in numerous spaces including The Russell Street Theater,<br />
            The Electric Company, Theater!Theatre!, and The Shoebox Theater.<br /><br />

            From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in <br />
            collaboration with The Anonymous Theatre Company.  Other past collaborations include defunkt theatre,<br />
            Stark Raving Theater, and Tears of Joy Theatre.<br /><br />

            Theatre Vertigo has worked on world premieres including Faust.Us by Joseph Fisher, 99 Ways to Fuck<br />
            a Swan by Kim Rosenstock, and The End of Sex by Craig Jessen.<br /><br />

            In 2016, Theatre Vertigo produced its first officially commissioned work from a playwright,<br />
            I Want To Destroy You, by Rob Handel.
        </p>
    </div>
    <!--Notes:
         Get <hr> to show.
        -->
    <div class="cms-bg-dark Home-About-div3">
        <p class="text-center Home-About-p"><strong>Ensemble</strong></p><br /><br />
    </div>
    <div class="container-fluid cms-bg-dark Home-About-div2">
        <figure class="figure">
            <img src="~/Content/images/Cast_Img_1.jpg" class="img-fluid rounded-circle" style="width:90%; height:90%;" alt="Theater">
            <figcaption class="figure-caption" style="font-size:50%;">KALA MAARJA MILLER</figcaption>
        </figure>

        <figure class="figure">
            <img src="~/Content/images/Cast_Img_3.jpg" class="img-fluid rounded-circle" style="width: 90%; height: 90%; " alt="Theater">
            <figcaption class="figure-caption" style="font-size:50%;">HEATH HYUN HOUGHTON</figcaption>
        </figure>

        <figure class="figure">
            <img src="~/Content/images/Cast_Img_4.jpg" class="img-fluid rounded-circle" style="width: 90%; height: 90%; " alt="Theater">
            <figcaption class="figure-caption" style="font-size:50%;">JACQUELLE DAVIS</figcaption>
        </figure>

        <figure class="figure">
            <img src="~/Content/images/Cast_Img_6.jpg" class="img-fluid rounded-circle" style="width: 90%; height: 90%; " alt="Theater">
            <figcaption class="figure-caption" style="font-size:50%;">VICTORIA ALVAREZ-CHANCON</figcaption>
        </figure>

        <figure class="figure">
            <img src="~/Content/images/Cast_Img_7.jpg" class="img-fluid rounded-circle" style="width: 90%; height: 90%; " alt="Theater">
            <figcaption class="figure-caption" style="font-size:50%;">TOM MOUNSEY</figcaption>
        </figure>

    </div>
       
    <div class="container-fluid cms-bg-dark">
        <p class="text-center Home-About-p"><strong>BOARD</strong></p><br />
        <figcaption class="figure-caption text-center">Jamie Floyd (President)</figcaption><br />
        <figcaption class="figure-caption text-center">Tom Mounsey </figcaption><br />
        <figcaption class="figure-caption text-center">Marcia Reyes</figcaption><br />
        <figcaption class="figure-caption text-center">Lena-Liis Kiesel</figcaption><br />
    </div>



    <style>
        .body-content {
            width: 100vw;
            margin: 0;
            padding: 0;
            max-width: 100vw;
        }
    </style>
</body>