@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body>
<div class="text-center">
    <h1 class="display-4">Contoso Crafts</h1>
    <p class="colorchange">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
<div class="colorchange">
    <img src="/css/1214922.jpg" alt="" size="width: 300px">
    <p class="colorchange"> This is the color red.</p>
</div>
</body>